* { 
    margin: 0; 
    padding: 0; 
    box-sizing:border-box; 
}

:root {
    --container-bg-color: rgba(216,215,215,255);
  }

html {
    font-size: 62.5%; /* Now 10px = 1rem! */
  }

main {
 font-family: Arial, Helvetica, sans-serif;
 max-width: 1290px;
 margin: auto;
}

svg {
margin: 0 1rem;
}

nav {
    display:grid;
    grid-area: nav;
    max-width: 1270px;
    width: calc(100% - 2rem);
    position: fixed;
    align-items: center;
    color:rgba(128,128,128,255);
    margin: 0px 2rem 0 1rem;
    padding-top: 2rem;
    padding-left: 2rem;
    background:#f9f9f9;
    z-index:1;
    animation: moveDown 1s ease-in;

    grid-template-areas:
    "nav-img nav-ul nav-ul nav-ul nav-ul icons-container"

}

nav > ul {
    display: grid;
    list-style: none;
     margin: 0px .5rem;
    padding: 0px 3rem;
    grid-template-areas:
    "nav-ul-li nav-ul-li nav-ul-li nav-ul-li nav-ul-li";
  
}

 nav > ul > li {
    margin: 0 2rem;
    display: inline-block;
} 

nav > ul > li:hover {
    color:rgba(240,128,128,255);
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}


.icons-container {
    margin: 0 .5rem;
    justify-content: center;
    grid-area: icons-container;
    display: grid;
    grid-template-areas: "1 2";
    
}

.icons-container > svg:hover {
    color:rgba(240,128,128,255);
    cursor: pointer;
}

nav > img {
height: 5rem;
grid-area: nav-img;
}
header {
    height: 25rem;
    background-image: url("./images/header.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    justify-content: center;
    color: rgb(252, 118, 28);
    grid-area: header;
    background-position: right 0px bottom 45%;
    margin: 0px 1rem;
}

header > div {
    opacity: 0.50;
    width: 90%;
    height: 40%;
    background: rgb(199, 199, 199);
    text-align: center;
    margin: 0 auto;
    width: 90%;
    position: absolute;
    bottom: 0px;
    left: 5%;
  
}

header > div > h1 {
    margin-top: 4rem;
    animation: moveRight 1s ease-in;
}

section {
    margin: 1rem;
    grid-area: section;
    display: grid;
    grid-template-areas:
    "articlesContainer articlesContainer articlesContainer articlesContainer aside";
}

#articlesContainer {
    margin-right: 1rem;
    background-color: var(--container-bg-color);
    min-height: 100%;
    grid-area: articlesContainer;
    display:grid;
    grid-template-areas:
    "article1 article2"
    "article3 article4"
    "article-footer article-footer"
 
}

#article1 {
    grid-area: article1;
} 

#article2 {
    grid-area: article2;
} 

#article3 {
    grid-area: article3;
} 

#article4 {
    grid-area: article4;
} 
#articlesContainer > div:last-of-type {
padding: 1rem;
grid-area: article-footer;
}

article {
    background-color: rgba(245,241,241,255);
    margin: 1rem;
    
    justify-content: center;
    padding: 1rem;
    color:rgba(170,169,169,255);
}

article > img {
    width:100%;
    height: 100%;
}

article > div:first-of-type > h3 {
    color: rgba(239,229,140,255);
    margin: .5rem;
    animation: moveRight 1s ease-in;
    position: absolute;
    bottom: .25rem;
    }

    article > div:first-of-type {
        width:100%;
        height: 20rem;
        background-size: cover;
        position: relative;
       
        }

     

#culturaImg {

    background-image: url("./images/sakura.jpg");

}

#gastroImg {
  
    background-image: url("./images/comida.jpg");
 
}

#turismoImg {

    background-image: url("./images/fuji.jpg");

}

#nocheImg {
    background-image: url("./images/noche.jpg");
}

article > div:last-of-type> h2 {
    color: white;
    background: rgba(240,128,128,255);
    padding: 1rem 0 .25rem .5rem;
    }

.textsContainer {
  margin-top: 1.5rem;
  display: grid;
  color: rgba(116,115,115,255);
  animation: moveUp 1.5s ease-in;
  grid-template-areas:
    "1 2";
  
}


.textsContainer > p:first-of-type {
    margin-right: 1rem;
}

aside {
    background: var(--container-bg-color);
    grid-area: aside;
    padding: 3rem;
    align-items: center;
}

aside > div {
    text-align: center;
}

aside > div > h3 {
    margin-bottom: 2rem;
}

footer {
 grid-area: footer;
 background: var(--container-bg-color);
 margin: 0 1rem 1rem 1rem;
}

footer > div {
    background: rgba(245,241,241,255);
    text-align: center;
    margin: 0px 1rem;
    padding: .75rem;

}

@media only screen and (max-width: 780px) {

    nav > ul > li {
        margin: 0 1rem;
    }
}


@media only screen and (max-width: 690px) {
    section {
        grid-template-areas:
        "articlesContainer" 
        "aside";
    }

    aside {
        margin-top: 1rem;
    }

    #articlesContainer {
    width: 100%;
    }
}

@media only screen and (max-width: 675px) {

    nav > ul > li > svg {
        margin: 0 .25rem;
    }
}

@media only screen and (max-width: 600px) {

    nav > ul > li {
        margin: 0 .2rem;
    }

}

@media only screen and (max-width: 410px) {

    #articlesContainer {
        grid-template-areas:
    "article1"
    "article2"
    "article3"
    "article4"
    "article-footer"
    }



nav {
    position:relative;
    padding: 1rem 0;
    place-items: center;
    grid-template-areas:
    "nav-img"
     "nav-ul" 
     "nav-ul"
     "nav-ul" 
     "nav-ul" 
     "icons-container"
   
}


nav > ul {
    grid-template-areas:
    "nav-ul-li";
    text-align:left;
    
}

nav > ul > li {
    margin: 1rem 0;
}

.icons-container {
    width: 5rem;
    text-align: center;
    grid-template-areas: 
    "1"
    "2";
    justify-content: left;
}

.icons-container > svg {
    margin:1rem 0;
    display:block;
}

nav > ul > li {
    margin: 1rem;
}

nav > ul > li > svg {
    margin: 0 1rem;
}

header > div > h1 {
    margin-top: 3rem;
}

}

@keyframes moveRight {
    0%{
        opacity: 0;
        transform: translateX(-150px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveDown {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveUp {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


