* { 
    margin: 0; 
    padding: 0; 
    box-sizing:border-box; 
}

:root {
    --container-bg-color: rgba(216,215,215,255);
  }

html {
    font-size: 62.5%; /* Now 10px = 1rem! */
  }

main {
 font-family: Arial, Helvetica, sans-serif;
 max-width: 1290px;
 display: flex;
 flex-direction: column;
 margin: auto;
 

}

svg {
margin: 0 1rem;
}

nav {
    display: flex;
    grid-area: nav;
    justify-content: space-between;
    max-width: 1290px;
    width: 100%;
    position: fixed;
    align-items: center;
    color:rgba(128,128,128,255);
    margin: 0px 2rem;
}

nav > ul {
    display: flex;
    flex: 3;
    justify-content: space-between;
    list-style: none;
     margin: 0px .5rem;
  
}

.icons-container {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    justify-content: center;
    
}

nav > li ´{
    list-style-type: none;
    box-sizing: border-box;
    margin: 5rem;
}

nav > img {
height: 5rem;
}
header {
    height: 30rem;
    background-image: url("./images/header.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(245,156,123,255);
    grid-area: header;
    background-position: right 0px bottom 40%;
    margin: 0px 1rem;
}

section {
    display: flex;
    margin: 1rem;
}

#articlesContainer {
    margin-right: 1rem;
    background-color: var(--container-bg-color);
    min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  grid-area: articlesContainer;
  flex: 5;
 
}

article {
    background-color: rgba(245,241,241,255);
    margin: 1rem;
    display: flex; 
    flex-basis: calc(50% - 2rem);  
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
  
}
article > img {
width:100%;
height: 100%;
}

article > div:first-of-type > h3 {
    color: rgba(239,229,140,255);
    margin: .5rem;
    }

    article > div:first-of-type {
        width:100%;
        height: 20rem;
        background-size: cover;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
       
        }

     

#culturaImg {

    background-image: url("./images/sakura.jpg");

}

#gastroImg {
  
    background-image: url("./images/comida.jpg");
 
}

#turismoImg {

    background-image: url("./images/fuji.jpg");

}

#nocheImg {
    background-image: url("./images/noche.jpg");
}

article > div:last-of-type> h2 {
    color: white;
    background: rgba(240,128,128,255);
    padding-top: 1rem;
    }

.textsContainer {
  display: flex;
}

aside {
    background: var(--container-bg-color);
    grid-area: aside;
    
    flex: 1;
    padding: 3rem;
    align-items: center;
}

aside > div {
    text-align: center;
}

aside > div > h3 {
    margin-bottom: 2rem;
}

footer {
 grid-area: footer;
 background: var(--container-bg-color);
 margin: 1rem;
}

footer > div {
    background: rgba(245,241,241,255);
    text-align: center;
    margin: 0px .5rem;
    padding: .5rem;

}






